@import "tailwindcss";

@theme {
    --font-sans: "Inter", "sans-serif";

    --color-white: #FFFFFF;
    --color-black: #000000;
    --color-accent: #4A40F2;
    --color-accent-dark: #3e34e3;

    --color-font-black: #0D1216;

    --color-gray-100: #FBFCFD;
    --color-gray-200: #e8e8e8;
    --color-gray-300: #5C6872;
    --color-gray-400: #737373;
    --color-gray-500: #555555;

    --color-green: #22c55e;
    --color-red: #e5385e;

    --color-input: #E4E4E4;
}