h1.heading {
    @apply text-5xl text-font-dark-blue font-extrabold;
}

p.heading {
    @apply text-font-gray font-medium;
}

span.footer-title {
    @apply uppercase text-[13px] font-semibold tracking-widest text-font-dark-blue-transparent;
}